{
  "background-color": "{{ terminal_background }}",
  "badge-color": "#FFFFFF",
  "bold-color": "#FFFFFF",
  "comment": "{{ terminal_foreground }}",
  "cursor-background-color": "#000000",
  "cursor-foreground-color": "#FFFFFF",
  "foreground-color": "{{ terminal_foreground }}",
  "highlight-background-color": "#000000",
  "highlight-foreground-color": "#FFFFFF",
  "name": "One Dark",
  "palette": [
    "{{ terminal_ansiBlack }}",
    "{{ terminal_ansiRed }}",
    "{{ terminal_ansiGreen }}",
    "{{ terminal_ansiYellow }}",
    "{{ terminal_ansiBlue }}",
    "{{ terminal_ansiMagenta }}",
    "{{ terminal_ansiCyan }}",
    "{{ terminal_ansiWhite }}",
    "{{ terminal_ansiBrightBlack }}",
    "{{ terminal_ansiBrightRed }}",
    "{{ terminal_ansiBrightGreen }}",
    "{{ terminal_ansiBrightYellow }}",
    "{{ terminal_ansiBrightBlue }}",
    "{{ terminal_ansiBrightMagenta }}",
    "{{ terminal_ansiBrightCyan }}",
    "{{ terminal_ansiBrightWhite }}"
  ],
  "use-badge-color": false,
  "use-bold-color": false,
  "use-cursor-color": false,
  "use-highlight-color": false,
  "use-theme-colors": false
}
