{
  "name": "{{ themeName }}",
  "comment": "",
  "foreground-color": "{{ neutral.dark.onBackground }}",  
  "background-color": "{{ neutral.dark.background }}",
  "use-badge-color": false,
  "use-bold-color": false,
  "use-cursor-color": false,
  "use-highlight-color": false,
  "use-theme-colors": false,
  "badge-color": "#FFFFFF",
  "bold-color": "#FFFFFF",
  "cursor-background-color": "#000000",
  "cursor-foreground-color": "#FFFFFF",
  "highlight-background-color": "#000000",
  "highlight-foreground-color": "#FFFFFF",
  "palette": [
    "{{ ansi.black }}",
    "{{ ansi.red }}",
    "{{ ansi.green }}",
    "{{ ansi.yellow }}",
    "{{ ansi.blue }}",
    "{{ ansi.magenta }}",
    "{{ ansi.cyan }}",
    "{{ ansi.white }}",
    "{{ ansi.blackBright }}",
    "{{ ansi.redBright }}",
    "{{ ansi.greenBright }}",
    "{{ ansi.yellowBright }}",
    "{{ ansi.blueBright }}",
    "{{ ansi.magentaBright }}",
    "{{ ansi.cyanBright }}",
    "{{ ansi.whiteBright }}"
  ]
}
