[Palette]
Name=One Dark
Background={{ neutral.dark.background }}
Foreground={{ neutral.dark.onBackground }}
Color0={{ ansi.black }}
Color1={{ ansi.red }}
Color2={{ ansi.green }}
Color3={{ ansi.yellow }}
Color4={{ ansi.blue }}
Color5={{ ansi.magenta }}
Color6={{ ansi.cyan }}
Color7={{ ansi.white }}
Color8={{ ansi.blackBright }}
Color9={{ ansi.redBright }}
Color10={{ ansi.greenBright }}
Color11={{ ansi.yellowBright }}
Color12={{ ansi.blueBright }}
Color13={{ ansi.magentaBright }}
Color14={{ ansi.cyanBright }}
Color15={{ ansi.whiteBright }}
